
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{%=o.htmlWebpackPlugin.options.title%}</title>
    <link rel='stylesheet' href="{%=o.htmlWebpackPlugin.files.css[0]%}"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>{%=o.htmlWebpackPlugin.options.title%}</h1>
    <main></main>
    {% for (var i=0; i<o.htmlWebpackPlugin.files.js.length; i++) { %}
        <script src="{%=o.htmlWebpackPlugin.files.js[i]%}"></script>
    {% } %}
  </body>
</html>
